body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FFFFFF; /* White background */
  color: #000000; /* Black text */
  position: relative;
}

.Header {
  background-color: #FFB74D; /* Slightly darker orange */
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0; /* Stretch to the left */
  right: 0; /* Stretch to the right */
  border-bottom-left-radius: 50px; /* Add curved edges to the top left corner */
  border-bottom-right-radius: 50px;
  text-align: center;
}



.Footer {
  background-color: #FFB74D; /* Slightly darker orange */
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0; /* Stretch to the left */
  right: 0; /* Stretch to the right */
  border-top-left-radius: 50px; /* Add curved edges to the top left corner */
  border-top-right-radius: 50px;
  text-align: center;
}

.Main {
  flex: 1;
  padding: 125px 20px 20px; /* Add padding-top to create space for the header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;;
}

.DonationForm {
  max-width: 300px;
  width: 100%;
}

.DonationForm label {
  margin-bottom: 5px;
  font-size: 20px;
}

.DonationForm input {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  color: #000000; /* Black text color */
  /* Add background-color property to change the text box background color */
  background-color: #FFFFFF; /* White background color */
}

.DonationForm button {
  width: 100%;
  padding: 10px 20px;
  background-color: #FF8C00; /* Darker orange */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.DonationForm button:hover {
  background-color: #FF6F00; /* Even darker orange on hover */
}